.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-link {
  margin-bottom: 50px;
  margin-left: 1150px;
  color: white;
}
.App-link1 {
  color: white;
}
.homebg {
  background-image: url("https://images.pexels.com/photos/943630/pexels-photo-943630.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
.signupbg {
  background-image: url("https://images.pexels.com/photos/1906440/pexels-photo-1906440.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .signinbg {
    background-image: url("https://images.pexels.com/photos/1007026/pexels-photo-1007026.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .aboutbg {
      background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size:cover;
      }
      .profilebg {
        background-image: url("https://image.freepik.com/free-photo/gray-wall-textures-background_74190-4389.jpg");
        height: 130vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
        .detailsbg {
          background-image: url("https://images.pexels.com/photos/1020320/pexels-photo-1020320.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
          height: 100vh;
          background-position: center;
          background-repeat: no-repeat;
          background-size:cover;
          }   
          .passwordbg,.phnobg,.forgotpasswordbg,.otpvalbg {
            background-image: url("https://images.pexels.com/photos/1084510/pexels-photo-1084510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
            }   
            .newpasswordbg {
              background-image: url("https://images.pexels.com/photos/1496139/pexels-photo-1496139.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
              height: 100vh;
              background-position: center;
              background-repeat: no-repeat;
              background-size:cover;
              }   