.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-link {
  margin-bottom: 50px;
  margin-left: 1150px;
  color: white;
}
.App-link1 {
  color: white;
}
.homebg {
  background-image: url("https://img.freepik.com/free-photo/smooth-dark-blue-with-black-vignette-studio-well-use-as-background-business-report-digital-website-template_1258-748.jpg?size=626&ext=jpg");
  height:610vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .forgotpasswordbg,.newpassbg{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeiwnEE6hKe_vCLqR2wx4NjaP8OXtsthP7saut0siPncEn-Mq0");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .updatebg{
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeiwnEE6hKe_vCLqR2wx4NjaP8OXtsthP7saut0siPncEn-Mq0");
      height: 180vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   
         
      }
     
      .signupbg{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeiwnEE6hKe_vCLqR2wx4NjaP8OXtsthP7saut0siPncEn-Mq0");
        height: 120vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
           
        }
    .signinbg{
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeiwnEE6hKe_vCLqR2wx4NjaP8OXtsthP7saut0siPncEn-Mq0");
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
         
      }
      .profilebg{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeiwnEE6hKe_vCLqR2wx4NjaP8OXtsthP7saut0siPncEn-Mq0");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
           
        }
    .aboutbg {
      background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size:cover;
      }
    
      .detailsbg {
          background-image: url("https://image.freepik.com/free-photo/gray-wall-textures-background_74190-4389.jpg");
          height: 100vh;
          background-position: center;
          background-repeat: no-repeat;
          background-size:cover;
          }   
          .passwordbg,.phnobg,.otpvalbg{
            background-image: url("https://images.pexels.com/photos/1084510/pexels-photo-1084510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
            }   
            @media screen and (min-width: 768px) {
              div.mobile-only {
                display: none;
              }
            }
            @media screen and (max-width: 767px) {
              div.desktop-only {
                display: none;
              }
            }
            h1 {
              margin:0px;
            }
            .img-circle {
              border-radius: 50%;            
          }
          #page-container{
            position: relative;
          }
          #page-container2{
            position: relative;
          }