button.btn.btn-blue.Ripple-parent {
  width: 35%;
}
.btmnavbar {
  background-color: rgba(42, 58, 92, 0.897);
  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0px;
  font-size: 15px;
  overflow: hidden;
}

.pics {
  margin-top: 100px;
  width: 400px;
  height: 400px;
  padding: 55px 60px;
  flex-direction: row;
}

.win {
  margin-top: 70px;
  position: absolute;
  width: 50%;
  height: 80%;
  padding: 0;
}
.gm-style-iw {
  background-color: rgb(237, 28, 36);
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  color: black;
  font-family: gothambook;
  text-align: center;
}
/* .button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(77, 99, 133);
  background-color: rgb(222, 223, 226);
  border: none;
  border-radius: 15px;
}

.button:hover {
  background-color: rgb(66, 108, 224) 1;
}

.button:active {
  background-color: #8b84e9;
  transform: translateY(4px);
} */
/* .div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */
input[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="date"],
select {
  box-sizing: border-box;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.select {
  padding: 13.5px 10px;
  width: 350px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 0px;
  background-color: whitesmoke;
  
}


.col {
  padding: "0px";
}

#table1 {
  width: 70%;
  border: 1px solid #a2bee2;
  height: 30%;
}
#table2 {
  border-collapse: collapse;
  width: 100%;
}
td {
  font-weight: bold;
  padding: 20px;
  width: 10px;
}
#eg1 {
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
}
#eg2 {
  text-align: left;
}
#eg3 {
  text-align: center;
  vertical-align: top;
  text-transform: capitalize;
}

h4 {
  font-style: italic;
  color: white;
}

/* tr:nth-child(even) {background-color: #f2f2f2;} */

/* burger menu  styles */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #ec48ec;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: black;
  font-size: 18px;
  font-weight: bold;
}
/* .flex-container {
  display: flex;
  justify-content: center;
  background-color: rgb(206, 215, 224);
}

.flex-container > div {
  background-color: #c08a8a;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 10px;
  
} */


button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  width: 30px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #c7bdbf;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu-wrap.bm-menu {
  width: 40% !important;
  height: 100% !important;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  font-size: 15px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0%;
} */
/* li{
  height:20px;
  
  list-style-type: none;
  width:70px;
  padding:3px;
  border-right:1px solid #3687AF;
  background-color: #015287;
  background-repeat: no-repeat;
  background-position: center 30px;
  }  */
* {
  margin: 0;
  padding: 0;
}
/* 
div {
  margin: 20px;
}
 */
ul {
  list-style-type: none;
  width: 500px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0%;
}

li:hover {
  background: lightskyblue;
  cursor: pointer;
}

/* .button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: rgb(159, 235, 161);
  border: none;
  border-radius: 15px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */
/* 
#mainselection {
  overflow: hidden;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  font-size: 15px;

  
} */
element.style {
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
  height: 0px;
}
.container-fluid {
  padding-right: 16px;
  padding-left: 16px;
}
.responsive {
  width: 100%;
  height: auto;
}
/* .text1 {
  position: absolute;
  bottom: 120px;
  left: 20px;
  color: #dad8cc;
  font-weight: 900;
}
.text2 {
  position: absolute;
  bottom: 120px;
  left: 500px;
  color: #dad8cc;
  font-weight: 900;
}
.text3 {
  position: absolute;
  bottom: 120px;
  right: 200px;
  color: #dad8cc;
  font-weight: 900;
} */
/* .Menu{
  padding-Bottom:25px;
} */

.sidenav {
  /* width: 60%; */
  /* left: 170px; */
  height: 200px;
}

.P-name {
  position: absolute;
  top: 270px;
  left: 250px;
  font-size: 20px;
  font-weight: 900;
}
.pic1 {
  position: absolute;
  width: 100px;
  height: 100px;
}

.center {
  padding: 70px 0;

  text-align: center;
}
select option[data-default] {
  color: #888;
}
.css-yk16xz-control {
  border-radius: 0px !important;
}
.css-tlfecz-indicatorContainer {
  background-color: whitesmoke !important;
}
.css-1hwfws3 {
  background-color: whitesmoke !important;
}
.css-1wa3eu0-placeholder {
  color: black !important;
  padding-left: 16px;
  padding-right: 10px;
  align-items: center
}
.col-xs-9.col-lg-9.col-md-9.col-sm-9.col {
  padding: 0px;
}
.col-xs-3.col-lg-3.col-md-3.col-sm-3 {
  padding: 0px;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.8 !important;
}
.pageNumber {
  margin-right: 0.3em;
  color: black;
  user-select: none;
  cursor: pointer;
  list-style: none;
  display: flex;
}
.footer {
  text-align: left;
  position: absolute;
  color: white;
  overflow: hidden;
  left: 10px;
  top: 10px;
}
/* .p-page{
  
  border-radius: 50px;
} */
#hdr {
  top: 5px;
  right: 10px;
  position: absolute;
  overflow: hidden;
}

#headbg {
  background-color: rgba(42, 58, 92, 0.897);
}

#linksize {
  font-size: 16px;
  padding: 7px;
}

#dtext {
  font-weight: bold;
}
g.social-svg-mask {
  fill: rgb(143, 139, 139) !important;
}
